# Steam .acf Generator
/build/release
/build/.pkg-cache
/build/resources/VersionInfo.res
/build/ResourceHacker/ResourceHacker.ini

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/node_modules
