# SteamACFGenerator
/build/.pkg-cache
/build/bin/steamcmd/*
!/build/bin/steamcmd/steamcmd.exe
/build/data
/build/dist
/build/release
/steamapps
/steam-acf-generator.log

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/node_modules
